lib/MonoGame.Binaries.targets
Chromaria.userprefs
build/Chromaria.pdb
build/Chromaria.vshost.exe
build/Chromaria.vshost.exe.manifest


obj/x64/Debug/Chromaria.exe
*.resources
obj/x64/Debug/Chromaria.csproj.FileListAbsolute.txt
